@using System.Reflection.Metadata
@using System.Data
@if (!IsTable && Page != null)//если не таблица то выводим так 
{
    <div class="row text-center alert alert-info">
        <div class="col">
            <p>@Page.Name</p>
            <p>@Page.Level</p>
            <p>@Page.ReleaseDate.ToString("yy/MM/dd")</p>

    
            @if (DisplayButtons)
            {    
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" @onclick="SwitchPage">Switch the page</button> @*кнопка для удаления блока*@
                    </div>
                </div>
            } 
            @if (Page.Name.Equals("My 108 project") && AppStyle.WitcherWords != null)
            {
                <div class="row mt-3">
                    <div class="col alert alert-light text-center">
                        @AppStyle.WitcherWords[rnd.Next(0, AppStyle.WitcherWords.Count)]
                    </div>
                </div>
            }
        </div>
    </div>
        }
else //если таблица то...  
{    //одинарная страница
    if (Page != null)
    {
        
    
        <tr>
            <td>@Page.Name</td>
            <td>@Page.Level</td>
            <td>@Page.ReleaseDate.ToString("dd.MM.yyyy")</td>
            <td>
                @if (DisplayButtons) //если кнопка активна то выводиться если нет то не выводится
                {
                    <button class="btn btn-danger" @onclick="(() => DeletePage.InvokeAsync(Page))">Delete</button>
                  @* 101 выводит сообщение
                    @if (message != null)
                    {
                        <span class="text-danger pl-3">@message</span>
                        message = null; // чтобы никуда больше не выводилось
                    } *@
                }
            </td>
   
        </tr>
    }
    
}
@code {

    [Parameter]public Page Page { get; set; } //получают данные с параметра, тип и свойства одинаковы(только с большой буквы)
    [Parameter]public bool IsTable { get; set; } //как переменная _решает таблица это или нет

    [Parameter]public bool DisplayButtons { get; set; } = false;
    [Parameter]public EventCallback<Page> DeletePage { get; set; }
    [Parameter]public EventCallback SwitchPage { get; set; }


    [CascadingParameter] public AppStyle AppStyle { get; set; }
    Random rnd = new Random(DateTime.Now.Millisecond);

        @*101   выводит сообщение когда удаляешь чтото 
        string message;

    void Delete() //Метод обработки (воид ничего не возвращает а пустые скобки что ничего не принимает)
    {
        //Delete logic...
        message = $"Page {Page.Name} deleted!";
    } 
    *@
}